{% extends 'onlineregistration/base.html' %}
{% load static %}   <link rel='stylesheet'href={% static 'css/onlineregistration.css'%}>
{% block body_block %}
<div class='pagetitle'><h1>News and Updates</h1></div>
<div class='body'>
   <h1><p>Meet Our 2024 Head Girl,</p></h1>
    <div>
<h2 class=imagediv><img class='img1'src='{% static 'aaronpics/headgirl.jpg'%}'><hr></h2>
        </div>     
    <h1><p>Meet Our 2024 Prefects,</p></h1>
    <div>
<h2 class=imagediv><img class='img1'src='{% static 'aaronpics/prefects.jpg'%}'> <hr></h2>
        </div>
    <h1><p>Aaron Boarding School Africa Month Celebraitons,</p></h1>
    <div>
<h2 class=imagediv><img class='img1'src='{% static 'aaronpics/africadaygirls2.jpg'%}'><hr><img class='img1'src='{% static 'aaronpics/africadaygirls1.jpg'%}'><hr><img class='img1'src='{% static 'aaronpics/africadayboys1.jpg'%}'></h2>
       <hr> </div>
</div>
{%endblock%}