{% extends 'onlineregistration/base.html' %}
{% load static %}   <link rel='stylesheet'href={% static 'css/onlineregistration.css'%}>
{% block body_block %}
<div class='pagetitle'><h1>News and Updates</h1></div>
<div class='body'>
    <h1><p>Lorem luois view tous lorim</p></h1>
     <h2><p>Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim 
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim 
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim 
         </p>
         <p>Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim 
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim 
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim 
         </p>
         <p>Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim 
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim 
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim 
         </p>
         <p>Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim 
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim 
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim 
         </p>
    </h2>
     <h1><p>Lorem luois view tous lorim</p></h1>
    <h2><p>Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim 
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim 
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim 
         </p>
         <p>Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim 
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim 
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim 
         </p>
         <p>Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim 
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim 
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim 
         </p>
         <p>Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim 
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim 
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim 
         </p>
    </h2>
    <h1><p>Lorem luois view tous lorim</p></h1>
    <h2><p>Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim 
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim 
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim 
         </p>
         <p>Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim 
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim 
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim 
         </p>
         <p>Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim 
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim 
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim 
         </p>
         <p>Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim 
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim 
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim
         Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim Lorem luois view tous lorim 
         </p>
    </h2>
</div>
{%endblock%}